<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
{% extends "products/base.html" %}
<body>
{% if product_list %}
    <ul>
    {% for product in product_list %}
        <li><a href="/products/{{ product.id }}/">{{ product.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No products are available.</p>
{% endif %}
{% block body_block %}
{% load static %}
    <img src = "{% static 'images/image1.jpeg' %}">
    <h1>This is about the developers of this webpage</h1>
    <h2>Django is the best framework</h2>
    <h1>DataFlair Team</h1>
    <h2>Year : {{ time | date:'Y' }}</h2>
    <h2>Month : {{ time | date:'M' }}</h2>
{% endblock %}
</body>
</html>